.container {
    max-width: 90%;
    margin: 75px auto;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.container h1 {
    color: #ffffff;
}

select {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 6px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #57055a;
    color: #ffffff;
    border-radius: 6px;
}

button:hover{
    background-color: blueviolet;
}

.selected-option {
    opacity: 1;
    padding: 5px;
}

.selected-option p {
    margin: 0;
    padding: 25px;
    background-color: rgba(65, 6, 59, 0.9);         
    text-align: justify;
    color: #ffffff;
    font-size: 16pt;
    border-radius: 15px;
}

img {
    max-width: 75%;
    border-radius: 10px;
}

