body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    overflow: cover;
    background: url('../images/image.png') repeat;
    animation: moveBackground 20s linear infinite;
}

@keyframes moveBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}